
*{
	margin: 0;
	padding: 0;
}

table{
	width: 100%;
	border-spacing: 10px;
}
table,th,td{
	
	text-align: center;
	padding: 10px;
	border: 1px solid black;
  border-collapse: collapse;
	
}
th{
	background-color: red;
	cursor: pointer;
}
tr:nth-child(even){
	background-color: #ddd;
}
td:hover{
	color: green;
	cursor: pointer;
	background-color: blue;
}
